@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-friz-quadrata), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

#parchment {
  position: absolute;
  display: flex;
  width: 75%;
  min-height: calc((1vw + 1vh) * 75);
  /* center page with absolute position */
  top: 0%; left: 50%; transform: translate(-50%, 0);
  margin: 2em 0;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  filter: url(#wavy2);
  z-index: 1;
}

#parchment::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #fffef0;
  filter: url(#wavy2);
  z-index: -1;
}